<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<link rel="stylesheet" href="css/bootstrap.min.css"> {% block stylesheets %}{% endblock %}

		<script src="js/jquery.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{path('homepage')}}">Andrews'BNB!</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor02">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" href="{{path('homepage')}}">Accueil
							
							</a>
						</li>
                    </ul>
                    <ul  class="navbar-nav ml-auto">
						<li class="nav-item">
                         <a href="#" class="nav-link"> Mon compte</a>
					</ul>
				</div>
			</div>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
