{% extends 'base.html.twig'%}

{%  block title %}
 andrews'bnb
{% endblock %}

{% block body%}
	<div class="container">
		<div class="jumbotron mt-3">
			<h1 class="display-3">Bienvenue sur Andrews'BnB</h1>
			<p class="lead">Nous mettons en relation les voyageur et les propietaire qui veulent profiter d'opportunité et gagner de l'argent !</p>
			<hr class="my-4">
			<p>vous etes voyageur ? et vous voulez voir pou vous pourrez loger pour votre prochain déplacement ?.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
			</p>
		</div>
		<h2 class="h1 mt-3 mb-4">nos appartement stars</h2>
		<div class="row mt-5">
			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>1200&euro; /nuit
						</strong>
						<br>
						<small>pas encore noté</small>

					</div>
					<img src="placeholder" alt="Image_appartement" style="heigt:200px;width: 100%; display: block">

					<div class="card-body">
						<h4 class="card-title">appartement de johnnnnY!</h4>
						<p class="card-text">
							si vous etes de rock et de moto et que vous avez 45 ans et 
							            que vous aimez les motif  de flamme cette maison vous accueilleras

						</p>
						<a href="" class="btn btn-secndary">
							en savoir plus</a>
					</div>
				</div>

			</div>
			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>15000&euro; /nuit
						</strong>
						<br>
						<small>pas encore noté</small>

					</div>
					<img src="placeholder" alt="Image_appartement" style="heigt:200px;width: 100%; display: block">

					<div class="card-body">
						<h4 class="card-title">villa de drake</h4>
						<p class="card-text">
							certified home boy
						</p>
						<a href="" class="btn btn-secndary">
							en savoir plus</a>
					</div>
				</div>

			</div>
			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>3000&euro; /nuit
						</strong>
						<br>
						<small>pas encore noté</small>

					</div>
					<img src="placeholder" alt="Image_appartement" style="heigt:200px;width: 100%; display: block">

					<div class="card-body">
						<h4 class="card-title">dressrosa!</h4>
						<p class="card-text">
							pays de doffy
						</p>
						<a href="" class="btn btn-secndary">
							en savoir plus</a>
					</div>
				</div>

			</div>
		</div>

        <h2 class="h1 mt-3 mb-4">Les proprietaire star !</h2>
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                <div class="card-body">
                <h4>Monkey D. Luffy</h4>
                <hr>

                <div class="card-text">
                <img src="http://placehold.it/64x64" alt="avatar" class="float-left mr-3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deserunt magnam distinctio quod, omnis quidem ea totam nisi assumenda corrupti facere labore adipisci tempora atque. Vel ab nihil totam repellendus?</p>
                    <a href="#" class="btn btn-success float-right">en savoir plus</a>
                </div>

                </div>
                
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                <div class="card-body">
                <h4>lopsa denis</h4>
                <hr>

                <div class="card-text">
                <img src="http://placehold.it/64x64" alt="avatar" class="float-left mr-3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos deserunt magnam distinctio quod, omnis quidem ea totam nisi assumenda corrupti facere labore adipisci tempora atque. Vel ab nihil totam repellendus?</p>
                    <a href="#" class="btn btn-success float-right">en savoir plus</a>
                </div>

                </div>
                
                </div>
            </div>
        </div>
        
	</div>
{% endblock %}
